header {
    background: linear-gradient(to top, $color-black 5%, #780000, #CF0A0A);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0rem 7rem;
    padding-bottom: 20rem;
    position: relative;
}