$font-supertitle: 'Holtwood One SC', serif;

$font-text: 'Plus Jakarta Sans', sans-serif;

$font-titles: 'Montserrat', sans-serif;
;

$color-primary: #040A1A;
$color-primary-light: #00384f;
$color-secondary: #ff7a00;
$color-secondary-dark: #d45700;
$color-white: #fff;
$color-grey-light: #f6f6f6;
$color-black: #212020;
$color-red: #EC2B2B;
$color-yellow: #FFBF1A;
$color-grey-dark: #666363;
$color-cyan: #45f3ff;