#myBar {
    width: 2%;
    height: 30px;
    background-color: orangered;
  border-radius:20px;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
  border-radius:20px;
}